<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Turath</title>
<!-- Background image -->
<!-- Background image -->
<div
  class="bg-image"
  style="
    background-image: url('statifiles/img/Turath.png');
    height: 100vh;
  "
></div>
<!-- Background image -->
<!-- Background image -->
<!-- Background image -->
  <!-- Custom fonts for this template-->
  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">


  <!-- Page level plugin CSS-->
  <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}" rel="stylesheet">

  <!-- Custom styles for this template-->

  <link href=" {% static 'css/business-casual.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">



  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <h1 class="site-heading text-center text-white d-none d-lg-block">
    <img src="img/Turath.png" alt="">
    <span class="site-heading-upper text-primary mb-3">Une plateforme pour </span>
    <span class="site-heading-upper text-primary mb-3">Le patrimoine architectural algérien</span>
  </h1>

  <div class=" page-section text-center ">
    <div class="col-xl-6xl-auto text-center">
      <form method="Post" action="MotCle">
        <div class=" form-group rounded text-center  mx-auto ">
          <label></label>
          <input class="rounded champ text-center" id="keyWord" name="keyWord" placeholder="Recherche par mot clé" >
          <button type="submit" class="btn btn-primary btn-xl" style="width:130px">Chercher</button>
        </div>
      </form>
    </div>
  </div>



  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Page level plugin JavaScript-->
  <script src="vendor/chart.js/Chart.min.js"></script>
  <script src="vendor/datatables/jquery.dataTables.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="js/demo/datatables-demo.js"></script>
  <script src="js/demo/chart-area-demo.js"></script>

</body>

</html>
